<head>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<div class="row">
  <div class="col-md-6">
    <h2>{{ descricion }}</h2>
  </div>
  <div class="col-md-6">
    <p>
      {{ datosf }}</p>
      <div id="chartContainer" style="height: 370px; width: 100%;"></div>
      <h2>En total tenemos {{ suma }} Diputados,
        La mayoria esta en {{ suma // 2 + 1 }} Diputados</h2>
